body {
	font-family: Georgia;
	font-size: 1.1em;
	line-height: 1.2em;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 2.0em;
	line-height: 1.1em;
	margin-top: 0;
	-webkit-hyphens: none;
	padding: 0em 0em 0.2em 0em;
	margin: 0em 0em 0em 0em;
}

a {
	color: black;
}

hr {
	background-color: #888888;
	border: 0px;
	height: 1px;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	width: 90%;
}

p.header {
	font-size: 0.8em;
	padding: 0em 0em 1em 1em;
	margin: 0em 0em 0em 0em;
}

p.footer {
	text-align: center;
	padding: 1em 0em 0.5em 0em;
}

div.cover {
	width: 100%;
	text-align: center;
}

div.cover img {
	max-width: 100%;
	max-height: 100%;
	clear: both;
	page-break-inside: avoid;
}

div.image {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	max-height: 90%;
	padding: 0.5em 1em 0.5em 1em;
}

div.float-left {
	float: left;
	max-width: 35%;
	max-height: 100%;
	padding: 0.3em 1.5em 1em 0em;
	clear: both;
}

div.image img {
	border-radius: 7px;
	box-shadow: 3px 3px 7px #666666;
	max-width: 100%;
	max-height: 100%;
	clear: both;
	page-break-inside: avoid;
}

div.image p {
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.4em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}

/*@media all and (max-width: 500px) {*/
	div.float-left {
		float: none;
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
/*}*/
